* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'BioRhyme', serif;
	margin: 0 1%;
}
h2 {
	text-align: center;
	padding-bottom: 2%;
}
h3 {
	text-decoration: underline;
}
header {
	display: flex;
	background-color: ;
}
span {
	color: white
}
.logo-img img {
	width: 50%;

}
.logo-text h1 {
	text-align: center;
}
.logo-text p {
	font-size: 120%;
	
}
.logo-idea {
	flex-grow: 1;
	text-align: center;
	align-self: center;
	font-size: 122%;	
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	background-color: #000;
	padding: 1%;

}
nav img {
	background-color: white;
	width: 40%;
	border-radius: 15%;
	
}

nav li:first-child a{
	display: flex;
	align-items: center;

}
span {
	padding-left: 10%;
}
a {
	text-decoration: none;
	color: white;
	font-size: 120%;
}
nav li {
	padding: 0.5%;

}
nav li:hover {
	background-color: white;
	border-radius: 10%;
}
nav li:hover a {
	color: black;
}
.main {
	display: flex;
	flex-direction: column;
}
.item {
	height: 100%;
	background-size: cover;
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding: 5%
}
.repair {
	background-image: url("../img/banner-collison-1.jpg");
	padding-top: 2%;
}

.repair-2 {
	background-image: url("../img/collision-banner-1.jpg");
	color: black;
	background-position: 1%;
	padding-bottom: 12%;
	text-align: right;
}
.repair-3 {
	background-image: url("../img/martin-auto-color-1.jpg");
	text-align: right;
	background-position: 1% 1%;
	color: black;
	padding-top: 12%;
}
.repair-4 {
	background-image: url("../img/auto_costpaintcar_0415_passwater.jpg");
	color: black;
	background-position: 0.5% 25%;
}
.repair-5 {
	background-image: url("../img/banner-collision-1.jpg");
	background-position: 0.5% 25%;
}
.repair-6 {
	background-image: url("../img/MIX1.jpg");
	color: black;
	background-position: 0.5% 10%;
}
footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: black;
	padding: 0.5%;
}
footer p {
	font-size: 110%;
	color: white;
	
}
.social {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
