* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'BioRhyme', serif;
	margin: 0 1%;
}
h2 {
	text-align: center;
	padding-bottom: 2%;
}
header {
	display: flex;
	background-color: ;

}
.logo-text h1 {
	text-align: center;
}
.logo-img {
	
	
}
.logo-idea {
	flex-grow: 1;
	text-align: center;
	align-self: center;
	font-size: 122%;	
}
nav {
	display: flex;
	justify-content: space-around;
	list-style: none;
	background-color: #000;
	padding: 1%;

}
a {
	text-decoration: none;
	color: white;
}
.main {
	display: flex;
	flex-direction: column;
}
.item {
	height: 100%;
	background-size: cover;
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding: 5%
}
.repair {
	background-image: url("../img/banner-collison-1.jpg");
	padding-top: 2%;
}

.repair-2 {
	background-image: url("../img/collision-banner-1.jpg");
	color: black;
	background-position: 1%;
}
.repair-3 {
	background-image: url("../img/martin-auto-color-1.jpg");
	text-align: right;
	background-position: 1%;
	color: black;
	padding-top: 0;
	padding-bottom: 12%;
}
.repair-4 {
	background-image: url("../img/auto_costpaintcar_0415_passwater.jpg");
	color: black;
	background-position: 0.5% 25%;
}
.repair-5 {
	background-image: url("../img/banner-collision-1.jpg");
	background-position: 0.5% 25%;
}
